{% extends 'base.html' %}
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- 메인 컨텐츠 -->
    <div class="container mt-5">
        <!-- 카테고리1 제목 및 설명 -->
        <h1 class="text-center">카테고리 1</h1>
        <p class="text-center">카테고리 1 간단 설명 설명 설명</p>

        <!-- 검색바 -->
        <div class="input-group mb-4 mx-auto" style="width: 500px;">
            <input type="text" class="form-control" placeholder="관심 상품을 입력해보세요." aria-label="Search">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>

        <!-- 구분선 -->
        <hr>

        <!-- 카테고리1 베스트 상품 -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2>Best</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'asset/product1.jpg' %}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'asset/product1.jpg' %}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'asset/product1.jpg' %}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'asset/product1.jpg' %}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- 구분선 -->
        <hr style="border: 1px solid #ccc;" class="mt-5">

        <!-- 전상품 -->
        <h2 class="mt-4">전 상품</h2>

        <!-- 필터 버튼 -->
        <div class="d-flex justify-content-start gap-2 mb-3">
            <button class="btn btn-outline-secondary">Filter</button>
        </div>

        <!-- 구분선 -->
        <hr>

        <!-- 정렬 버튼 -->
        <p> 총 10개</p>
        <div class="d-flex justify-content-start gap-2 mb-4">
            <button class="btn btn-outline-secondary">인기순</button>
            <button class="btn btn-outline-secondary">신상품순</button>
            <button class="btn btn-outline-secondary">리뷰 많은 순</button>
            <button class="btn btn-outline-secondary">별점 높은 순</button>
        </div>

        <!-- 구분선 -->
        <hr>

        <!-- 상품 리스트 -->
        <div class="row row-cols-1 row-cols-md-4 mb-4 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{% static 'asset/product1.jpg' %}" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../asset/product1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../asset/product1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="../asset/product1.jpg" class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">상품 1</h5>
                        <p class="card-text">★ 4.22 (13)</p>
                        <p class="card-text">가격 : 20000원 </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

{%endblock%}